<div style="background-color: burlywood">
  <div style="background-color: cadetblue">
    <div style="background-color: chartreuse">
      <div style="background-color: chocolate">
        <div style="background-color: cornflowerblue">
          <div style="background-color: darkgreen">
            <div style="background-color: darkgrey">
              <div class="fill" style="background-color: brown">
                <marquee behavior="" direction="">
                  <img
                    src="assets/images/download.jfif"
                    alt="Floating Banner"
                  />
                </marquee>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
