<div class="container ">
    <div class="row">
        <h1 style="margin: auto;"><a href="assets/Assignment.docx" target="_blank">Case Study</a></h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink='/image' routerLinkActive="active">Image Module</a>
                    </h5>
                    <p class="card-text">Module 1</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink='/e-commerce' routerLinkActive="active">E-Commerce Module</a>
                    </h5>
                    <p class="card-text">Module 2</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title"><a routerLink='/countdown-io' routerLinkActive="active">Countdown via Input
                            Output</a></h5>
                    <p class="card-text">Module 3</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink='/countdown-subject' routerLinkActive="active">Countdown via Subject</a>
                    </h5>
                    <p class="card-text">Module 4</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink='/student-record' routerLinkActive="active">Student Record Table</a>
                    </h5>
                    <p class="card-text">Module 5</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a routerLink='/dynamic-div-onscroll' routerLinkActive="active">Dynamic Div On Scroll</a>
                    </h5>
                    <p class="card-text">Module 6</p>
                </div>
            </div>
        </div>
    </div>
</div>