<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-5 border">
            <app-timer></app-timer>
        </div>
        <div class="col-md-5 offset-md-1 border">
            <app-timer-settings></app-timer-settings>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 border">
            <app-timer-outputs></app-timer-outputs>
        </div>
        <div class="col-md-5 offset-md-1 border">
            <app-timer-click-counter></app-timer-click-counter>
        </div>
    </div>
</div>