<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="Toggle(true)" [ngClass]="{'active':isGrid}">Grid View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="Toggle(false)" [ngClass]="{'active':!isGrid}">List View</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <div class="cards" [ngClass]="{'cards-list':!isGrid}">
    <div class="card-deck" *ngFor="let product of productsData">
      <div class="card">
        <div *ngIf="isGrid" style="padding: 15px">
          <img src="assets/images/download.jfif" style="background-color: lightgrey" class="card-img-top"
            alt="Broken Image" />
        </div>
        <h6 class="card-header text-primary text-center">
          {{ product.product_name }}
        </h6>
        <div class="card-body">
          <h6 class="card-text">
            Manufacturer:
            <span class="text-primary">{{ product.manufacturer }}</span>
          </h6>
          <h6 class="card-text">
            price:
            <span class="text-primary">{{ product.price }}</span>
          </h6>
          <h6 class="card-text">
            Average Review Rating:
            <span class="text-primary">{{
              product.average_review_rating
              }}</span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>