<div class="content">
  <div class="cards">
    <div class="card-deck" *ngFor="let product of productsData">
      <div class="card">
        <h6 class="card-header text-primary text-center">
          {{ product.product_name }}
        </h6>
        <div class="card-body">
          <h6 class="card-text">
            Manufacturer:
            <span class="text-primary">{{ product.manufacturer }}</span>
          </h6>
          <h6 class="card-text">
            price:
            <span class="text-primary">{{ product.price }}</span>
          </h6>
          <h6 class="card-text">
            Average Review Rating:
            <span class="text-primary">{{
              product.average_review_rating
            }}</span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
